.element__like {
  width: 22px;
  height: 19px;
  margin: 0 20px 0 0;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  align-self: center;
  background-image: url(../../../images/like.svg);
  transition: opacity .2s ease-out;
}

.element__like:focus {
  outline: none;
}

.element__like:hover {
  opacity: .5;
}
