.profile {
  max-width: 880px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 920px) {
  .profile {
    padding: 0 27px;
  }
}

@media screen and (max-width: 750px) {
  .profile {
    display: grid;
    grid-template-columns: 120px minmax(1fr, 2fr);
    gap: 20px;
    justify-content: center;
  }
}


@media screen and (max-width: 500px) {
  .profile {
    padding: 0;
    max-width: 282px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
