.profile__add-button {
  border: none;
  padding: 0;
  margin-left: auto;
  background: transparent;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-image: url(../../../images/add-button.svg);

}

.profile__add-button:focus {
  outline: none;
}

.profile__add-button:hover {
  opacity: .7;
}


@media screen and (max-width: 750px) {
  .profile__add-button {
    margin-left: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: end;
  }
}

@media screen and (max-width: 450px) {
  .profile__add-button {
    width: 282px;
    height: 50px;
    background-image: url(../../../images/add-button-282.svg);
  }
}
