.popup__close-button {
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  width: 58px;
  height: 58px;
  background-image: url(../../../images/close-button.svg);
  position: absolute;
  top: -50px;
  right: -50px;
  transition: opacity .2s ease-out;
}

.popup__close-button:focus {
  outline: none;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 600px) {
  .popup__close-button {
    width: 38px;
    height: 38px;
    right: 0px;
    background-size: contain;
  }
}
