.footer {
  max-width: 880px;
  color: #545454;
  flex-shrink: 0;
}

@media screen and (max-width: 920px) {
  .footer {
    padding: 0 27px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 0;
    max-width: 282px;
  }
}
